<h1>User: <%= @user.name %></h1>

<p>Email: <%= @user.email if @user.email %></p>

<% @user.articles.each do |article| %>
  <p>Article: <%=link_to article.title, article_path(article.id) %></p>
<% end %>
